<a href="https://colab.research.google.com/github/DanielaMdzArv/Inteligencia-Artificial-DMA/blob/main/EvaluacionDiagnostica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

¿Como se declara una lista en python?

In [ ]:
my_list = [ 1,2,3]
print (my_list)

[1, 2, 3]

¿Que funcion se usa para conocer el numero de elementos en una lista?

In [ ]:
print(len(my_list))

3

¿Que resultado obtendremos al ejecutar el siguiente codigo?

In [ ]:
a=[ 1,2,3,4,5]
print(a[ ::-1])

[5, 4, 3, 2, 1]

¿Cual es el resultado de la siguiente expresion?

In [ ]:
print(3*"5"+2)

TypeError: can only concatenate str (not "int") to str

¿Que salida generara el siguiente codigo?

In [ ]:
def foo(x,y=[]):
  y.append(x)
  return y

print(foo(1))
print(foo(2, []))
print(foo(3))

[1]
[2]
[1, 3]

¿Que resultado obtendremos al ejecutar el siguiente codigo?

```
# Tiene formato de código
```

In [ ]:
def multiply_list(numbers,factor):
  result=[ ]
  for number in numbers:
    result.append(number*factor)
  return result

my_list=[ 1,2,3]
output=multiply_list(my_list,2)
print(output)

[2, 4, 6]

# **Practica de Python**

Práctica 1 Clasificación  de una lista con números patres e impares

In [ ]:
#Declaración de variables
numeros = [10,25,36,98,77,34,89,58]

print(type(numeros[0]))
pares = []
impares = []

<class 'int'>

In [ ]:
#Ciclo for para recorrer la lista
for numero in numeros:
  if numero % 2 == 0:
    #pares[0] = numeros[0]; java, c, c# "el cero es el vlor de 'i'"
    pares.append(numero)
  else:
      impares.append(numero)

In [ ]:
#impresión de resultados
print("pares: ", pares, "total: ", len(pares))
print("impares: ", impares, "total: ", len(impares))

pares:  [10, 36, 98, 34, 58] total:  5
impares:  [25, 77, 89] total:  3

In [ ]:
#Función suma de los números pares
def suma_pares(lista):
  suma = 0
  for numero in lista:
    suma += numero
    return suma

#imprimir la suma
print("La suma de los pares son: ",suma_pares(pares))
print("La suma de los Impares son: ",suma_pares(impares))

La suma de los pares son:  10
La suma de los Impares son:  25