<a href="https://colab.research.google.com/github/DanielaMdzArv/Inteligencia-Artificial-DMA/blob/main/EvaluacionDiagnostica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

¿Como se declara una lista en python?

In [1]:
my_list = [ 1,2,3]
print (my_list)

[1, 2, 3]

¿Que funcion se usa para conocer el numero de elementos en una lista?

In [2]:
print(len(my_list))

3

¿Que resultado obtendremos al ejecutar el siguiente codigo?

In [3]:
a=[ 1,2,3,4,5]
print(a[ ::-1])

[5, 4, 3, 2, 1]

¿Cual es el resultado de la siguiente expresion?

In [4]:
print(3*"5"+2)

TypeError: can only concatenate str (not "int") to str

¿Que salida generara el siguiente codigo?

In [7]:
def foo(x,y=[]):
  y.append(x)
  return y

print(foo(1))
print(foo(2, []))
print(foo(3))

[1]
[2]
[1, 3]

¿Que resultado obtendremos al ejecutar el siguiente codigo?

```
# Tiene formato de código
```

In [9]:
def multiply_list(numbers,factor):
  result=[ ]
  for number in numbers:
    result.append(number*factor)
  return result

my_list=[ 1,2,3]
output=multiply_list(my_list,2)
print(output)

[2, 4, 6]